.quiz-container {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    place-content: center;
    text-align: center;
    overflow: hidden;
}

.contain_carrusel {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.contain_carrusel__category-name {
    font-size: var(--font-size-titles-lg);
    font-weight: 700;
    margin: 0 1rem;
    position: absolute;
    text-align: center;
    width: fit-content;
    top: -45px;
}

.container-response-quiz-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 30px auto;
}